{include file='common/head'}
<div style="overflow-x: hidden;width: 96%;margin: auto;padding-top: 1rem;height: 800px">

    <blockquote class="layui-elem-quote layui-text">
        <div class="demoTable layui-form">
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入域名" name="host" class="layui-input">
            </div>
            <button class="layui-btn " data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
    </blockquote>

    <div class="demoTable layui-for">
        <table class="layui-table" lay-data="{height:'full-100', url:'{$index}', page:true, id:'tableId'}" lay-filter="rechargeTable">
            <thead>
            <tr>
<!--                <th lay-data="{field:'id', width:80, sort: true,type:'numbers'}">ID</th>-->
                {foreach($list as $k => $v)}
                <th lay-data="{field:'{$k}',
                        width:{$v['width']}
                        {if(!empty($v['templet']))}
                            ,templet: '#{$k}'
                        {/if}
                        {if(!empty($v['fixed']))}
                            ,fixed: true
                        {/if}
                        {if($k == 'ID')}
                            ,sort: true,type:'numbers'
                        {/if}
                        {if(!empty($v['edit']))}
                            ,edit: '{$k}'
                        {/if}

                 }">{$v['name']}</th>
                {/foreach}
            </tr>
            </thead>
        </table>

        <!--列-自定义-->
        <script type="text/html" id="type">
            {{#  if(d.type == 1){ }}
            <span style="color: #5FB878" >回拨</span>
            {{#  } }}
            {{#  if(d.type == 2){ }}
            <span style="color: #FF5722" >axb</span>
            {{#  } }}
        </script>
    </div>
</div>
{include file='common/footer'}
<script>
    layui.use(['table','form'], function(){
        var table = layui.table
            ,form = layui.form;
        //搜索提交
        var $ = layui.$, active = {
            reload: function(){
                var host_name = $('input[name="host"]').val();
                //执行重载
                table.reload('tableId', {
                    where: {
                        host:host_name,
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听表格复选框选择
        table.on('checkbox(rechargeTable)', function(obj){
            console.log(obj)
        });


      //监听单元格编辑
      table.on('edit(rechargeTable)', function(obj){
        var value = obj.value //得到修改后的值
          ,data = obj.data //得到所在行所有键值

        $.post('/admin/Rechargerecord/editAjax', {id:data.id,remark:value},function (obj) {
          if(obj.code==200){
            parent.layer.msg(obj.msg, {icon: 6,time: 1000});
          }
          if(obj.code==500){
            parent.layer.msg(obj.msg, {icon: 5,time: 1000});
          }
          location.reload();
        },"JSON");
      });


    });
</script>

</body>
</html>
