{include file='common/head'}
<div style="overflow-x: hidden;width: 96%;margin: auto;padding-top: 1rem;height: 800px">

    <blockquote class="layui-elem-quote layui-text">
        <div class="demoTable layui-form">
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入域名" name="host" class="layui-input">
            </div>
            <button class="layui-btn " data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button class="layui-btn export" style="float: right" ><i class="layui-icon">&#xe67d;</i>导出</button>
        </div>
    </blockquote>

    <div class="demoTable layui-for">
        <table class="layui-table" lay-data="{height:'full-100', url:'{$index}?select_id={$select_id}', page:true, id:'tableId'}" lay-filter="test">
            <thead>
            <tr>
<!--                <th lay-data="{field:'id', width:80, sort: true,type:'numbers'}">ID</th>-->
                {foreach($list as $k => $v)}
                <th lay-data="{field:'{$k}',
                        width:{$v['width']}
                        {if(!empty($v['templet']))}
                            ,templet: '#{$k}'
                        {/if}
                        {if(!empty($v['fixed']))}
                            ,fixed: true
                        {/if}
                        {if($k == 'ID')}
                            ,sort: true,type:'numbers'
                        {/if}

                 }">{$v['name']}</th>
                {/foreach}
            </tr>
            </thead>
        </table>
        <div style="display: none;">
            <table id="data_export">
            </table>
        </div>
    </div>
</div>
{include file='common/footer'}
<script>
    layui.use(['table','form'], function(){
        var table = layui.table
            ,form = layui.form;
        //搜索提交
        var host = '';
        var $ = layui.$, active = {
            reload: function(){
                 host = $('input[name="host"]').val();
                //执行重载
                table.reload('tableId', {
                    where: {
                        host:host,
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听表格复选框选择
        table.on('checkbox(tableFilter)', function(obj){
            console.log(obj)
        });

        var extable = table.render({
            elem: '#data_export',
            id:'all_export',
            title: '坐席开通记录',
            cols: [[ //表头
                 {
                    field: 'host',
                    title: '域名',
                }, {
                    field: 'open_num',
                    title: '开通数量',
                },
                 {
                    field: 'open_time',
                    title: '开通日期',
                }
            ]]
        });
        var exurl = '{$index}'+'?action_export=export';
        //导出按钮
        $(".export").click(function () {
            var loading = layer.msg('正在导出', {icon: 16, shade: 0.3, time:0});
            //使用ajax请求获取所有数据
            $.ajax({
                url: exurl,
                type: 'post',
                data: {
                    search_type:'all',
                    host:host,
                    action_export:'export'
                },
                async: false,
                dataType: 'json',
                success: function (res) {
                    //使用table.exportFile()导出数据
                    table.exportFile("all_export", res.data, 'csv');
                    layer.close(loading)
                }
            });

        });
    });
</script>

</body>
</html>