{include file='common/head'}
<div style="overflow-x: hidden;width: 96%;height:800px;margin: auto;padding-top: 1rem;">
    <div class="layui-form layui-form-pane">
        <input type="hidden" name="id" value="{$data.id|default=''}">

        <div class="layui-form-item">
            <label class="layui-form-label">代理商</label>
            <div class="layui-input-inline">
                <select name="user_id" lay-filter="aihao">
                    {foreach($info as $v)}
                    <option value="{$v.id}"  {if(!empty($data.id) && $data.id == $v.id)}selected{/if}>{$v.user_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">域名</label>
            <div class="layui-input-inline">
                <select name="ipdata_id" lay-verify="required" lay-search="">
                    {foreach($host as $v)}
                    <option value="{$v.id}"  {if(!empty($data.ipdata_id) && $data.ipdata_id == $v.id)}selected{/if}>{$v.domain_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">坐席数量</label>
            <div class="layui-input-inline">
                <input type="number" value="{$data['total_set']|default=''}" name="total_set" lay-verify="required"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
                <button type="button" class="layui-btn layui-btn-primary" id="closeIframe">关闭</button>
            </div>
        </div>
    </div>
</div>
{include file='common/footer'}
<script>
    layui.use('form', function(){
        var form = layui.form;

        //获取角色
        form.on('select(bank_id)', function(data){
            var bank_id=$('select[name="bank_id"] option:checked').val();
            var html='';
            $.ajax({
                url: '{:url("admin/Role/ApiGetRolePage")}',
                type: 'POST',
                async:false,
                data:{bank_id:bank_id},
                dataType:'json',
                success: function (obj) {
                    var data =obj.data;
                    $.each(data,function(i,v){
                        html+='<option value="'+v.role_id+'">'+v.name+'</option>';
                    });
                    $('select[name="role_id"]').html("<option value=''>没有内容了</option>"+html);
                    form.render('select'); //这个很重要
                }
            });
        });

        //提交表单
        var url='{$url}';
        form.on('submit(demo1)', function(data){
            $.post(url,data.field,function (obj) {
                if(obj.code==200){
                    parent.layer.msg(obj.msg, {icon: 6,time: 1000});
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index,data.field); //再执行关闭
                }
                if(obj.code==500){
                    parent.layer.msg(obj.msg, {icon: 5,time: 1000});
                }
            },"JSON");
        });

        $('#closeIframe').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });

    });
</script>

</body>
</html>