{include file='common/head'}
<div style="overflow-x: hidden;width: 96%;margin: auto;padding-top: 1rem;">
    <input type="hidden" name="id" id="id" value="{$id|default=''}">
    <table class="layui-hide" id="demo"></table>
</div>
<style type="text/css">
    .layui-table-cell {
        height: auto;
        line-height: 28px;
    }
</style>

{include file='common/footer'}
<script>
    layui.use('table', function(){
        var table = layui.table;

        var id = $('#id').val();
        $.ajax({
            url: '{:url("admin/user/friend")}',
            type: 'POST',
            async:false,
            data:{id:id},
            dataType:'json',
            success: function (obj) {
                var data =obj.data;
                //展示已知数据
                table.render({
                    elem: '#demo'
                    ,cols: [[ //标题栏
                        {field: 'friend_id', title: '用户ID', width: 100, sort: true}
                        ,{field: 'user_name', title: '用户名', width: 120}
                        ,{field: 'head_img', title: '头像', minWidth: 80,templet: function(d){
                                return '<img src='+ d.head_img +' style="color: #c00;">'
                            }}
                    ]]
                    ,data: data
                    //,skin: 'line' //表格风格
                    ,even: true
                    //,page: true //是否显示分页
                    //,limits: [5, 7, 10]
                    //,limit: 5 //每页默认显示的数量
                });
            }
        });

    });
</script>

</body>
</html>